/* Variables and mixins declared here will be available in all other SCSS files */

$color-nav:rgb(84, 84, 84); 
$color-nav-font: white;
$color-nav-bar-hover: rgb(39, 39, 39);
$color-nav-font-hover: rgb(170, 170, 170);
$color-red: red;
$color-dark-grey: rgb(39, 39, 39);
