/* Variables and mixins declared here will be available in all other SCSS files */

$color-nav:rgb(84, 84, 84); 
$color-nav-font: white;
$color-nav-icon: white;
$color-nav-bar-hover: rgb(39, 39, 39);
$color-nav-font-hover: rgb(170, 170, 170);
$color-red: red;
$color-dark-grey: rgb(39, 39, 39);


$color-kreivi-blue: #1557AD; 
$color-kreivi-gold: #DEAD01; 
$color-kreivi-dark: #150323; 
$color-kreivi-white: #FFFADE; 
$color-kreivi-red: #AD2023; 
$color-kreivi-green: #09872F; 